<style>
    header {
        height: auto !important;
    }

    

.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}

.post-preview > a > .post-title {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #0085A1;
}


    .content-font-family {
        font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    }


    .content-font-link {
        font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
        color: #0085A1;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RegionalVICInsight - News</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="/css/agency.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    
    <link rel="stylesheet" href="/css/css-loader.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">RegionalVIC&nbsp;Insight</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Map/Recommendation">Recommendation</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-nav" href="/Map" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Area Insight
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item content-font-family" href="/Map#description">Regional Areas Information</a>
                            <a class="dropdown-item content-font-family" href="/Map#living">Rent</a>
                            <a class="dropdown-item content-font-family" href="/Map#job">Job Opportunity</a>
                            <a class="dropdown-item content-font-family" href="/Map#safety">Safety</a>
                            <a class="dropdown-item content-font-family" href="/Map#culture">Culture</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/News">News</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header class="masthead" style="background-image: url('/img/news1.jpg');background-size: cover;">
        <div class="container">
            <div class="intro-normal">
            </div>
        </div>
    </header>

    <div class="loader loader-default is-active" data-text id="loader"></div>
    <br>
    <div class="container">
        <h1 class="text-center">News</h1>
        <br>
        <p class="text-center font--18">
            Find out the latest news about the immigration policies and visa.
        </p>
    </div>
    <!-- Main Content -->
    <section id="articles">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 mx-auto">
                    <div class="news">
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">
                        Copyright &copy; RegionalVICInsight 2019.
                    </span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="/Home/Disclaimer" class="content-font-link">Disclaimer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script>

        {
            //Fetch news by ajax
            $.ajax({
                url:
                    //"https://newsapi.org/v2/everything?q=-Trump,+immigration,+plan&sources=abc-news-au&apiKey=79a6a2e25a7c4063a5857e750e7b80fc",
                    //"https://gnews.io/api/v2/?q=plan+visa+austrlia+migration&token=d6064764444e9134bd179852cec2c4a7",
                    //"https://gnews.io/api/v2/?q=australia+policy+immigration+visa&country=AU&token=d6064764444e9134bd179852cec2c4a7",
                    //'https://cors-anywhere.herokuapp.com/https://gnews.io/api/v3/search?country=au&q=australia+melbourne+victoria+%22visa%20Subclass%22+immigration+&token=d6064764444e9134bd179852cec2c4a7',
                    'https://cors-anywhere.herokuapp.com/https://gnews.io/api/v3/search?country=au&q=australia+immigration+victoria+&token=d6064764444e9134bd179852cec2c4a7',
                method: "GET",
                crossDomain: true,

                error: function (xhr, status) {
                    console.log("fucked");

                    $("#loader").removeClass("is-active");
                },
                success: function (data) {
                    processData(data);

                    $("#loader").removeClass("is-active");
                }
            });
            //Format news
            function processData(data) {

                $(".news").empty();
                if (data.count_results === 0) {

                    var $element = $('<div class="post-preview"> <strong> <h3 class="post-title"> ' + "No content" + '</h3>'
                        + '<h5 class="post-subtitle"> ' + "There is no latest news about immigration." + '</h5></strong></div><hr>');

                    $(".news").append($element);
                }
                else {
                    for (var i = 0; i < data.articles.length; i++) {
                        var source = data.articles[i].source.name;
                        var title = data.articles[i].title;
                        var description = data.articles[i].description + ' (more)';
                        var artUrl = data.articles[i].url;
                        var date = data.articles[i].publishedAt;
                        var website = data.articles[i].source.url;

                        var $element = $('<div class="post-preview"> <a href="' + artUrl + '"> <h3 class="post-title"> ' + title + '</h3>'
                            + '<h5 class="post-subtitle"> ' + description + '</h5></a><p class="post-meta">Posted by  <a href="' + website + '">' + source + '</a> on <strong>' + date + ' </strong> </p></div><hr>');

                        $(".news").append($element);
                        //console.log(artUrl);
                    }
                }
            }

        }
    </script>
    <!-- Contact form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/js/agency.min.js"></script>
</body>
</html>
