@model IEnumerable<RegionalVIC.Models.location>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div id="map" style="height:500px"></div>
<div id='geocoder' class='geocoder'></div>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<br />
<br />
<script src="~/Scripts/location.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>

@*<script src='https://npmcdn.com/@('@')turf/turf/turf.min.js'></script>*@
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.css' type='text/css' />

<div class="col-sm-6">
    <div class="form-group">

    </div>
</div>
<div class="col-sm-6">
    <br />
    <br />
    <br />
</div>


<script>
    var counter = 0;
    $('.multi-field-wrapper').each(function () {
        var $wrapper = $('.multi-fields', this);
        $(".add-field", $(this)).click(function (e) {
            counter++;
            $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('location').val('').focus();
        });
        $('.multi-field .remove-field', $wrapper).click(function () {
            if ($('.multi-field', $wrapper).length > 1)
                $(this).parent('.multi-field').remove();
        });
    });
    document.getElementById('form-trip')
        .addEventListener('click', function () {
            console.log("form a trip");
            var list = $('.multi-field-wrapper .multi-field .tmp');
            var counter = 0;
            var length = list.length;
            for (var e of list) {
                clearDropoff();
                var value = e.options[e.selectedIndex].value;
                var lat, lng;
                $.ajax({
                    url: '@Url.Action("getLatLng", "locations")',
                    type: 'POST',
                    data: "{id:'" + value + "', counter:'" + counter + "'}",
                    contentType: 'Application/json',
                    success: function(result)
                    {
                        var array = result.split(";");
                        newDropoff([array[0], array[1]], array[2], length);
                    }
                });
                counter++;
            }


        });

    document.getElementById('show-trip')
        .addEventListener('click', function () {
            console.log("show a saved trip");
            var list = $('.form-group .form-control');

            for (var e of list) {
                var value = e.options[e.selectedIndex].value;
                $.ajax({
                    url: '@Url.Action("getTrip", "locations")',
                    type: 'POST',
                    data: "{route_id:'" + value + "'}",
                    contentType: 'Application/json',
                    success: function(data)
                    {
                        showSavedTrip(JSON.parse(data));
                        //newDropoff([array[0], array[1]], array[2], length);
                    }
                });
            }


        });

</script>
@*@section Scripts {
        @Scripts.Render("~/bundles/mapbox")
    }*@
